/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*layout*/
.main-header,
.wrapper,
.documentation {
	padding: 3px 12%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}
a {
	text-decoration: none;
}
h2 {
	text-align: center;
	text-transform: uppercase;
}

/*nav*/

header {
	overflow: auto;
}
header nav ul {
	text-align: right;
	float: right;
	overflow: auto;
}
header nav li {
	display: inline-block;
}
header nav a {
	display: block;
	text-transform: uppercase;
	padding: 1em;
	margin-top: 2em;
	color: #FFFFFF;
}
header img {
	margin: 2em 2em;
	float: left;
}

/*wrapper*/

.main-header,
.wrapper {
	background-color: #FF0000;
	max-height: 768px;
}
.main-header,
.wrapper,h1 h2 {
		color: #F8F8F8;
}
.wrapper h1 {
	text-transform: uppercase;
	text-align: center;
	margin: 4em 0 1.8em 0;
	font-size: 2em;
}
/*ver si queda en font-weight 300 0 400*/
.wrapper p {
	text-align: center;
	font-size: 1.3em;
	color: #F8F8F8;
	line-height: 1.5em;
	font-weight: 300;
}
/*agregar borde y color a "fork me"*/
.wrapper h2 {
	margin: 3em 0 3.5em 0;
}
.wrapper img {
	max-width: 100%;
}

/*documentation*/

.documentation h1 {
	font-size: 2em;
	margin: 2.5em 0 1em 0em;
	color: #303030;
}
.documentation p {
	text-align: left;
	font-size: 1.2em;
	margin: 0 2em 2em 0;
	line-height: 1.5em;
	color: #303030;
}
code {
	line-height: 2em;
}




