/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*layout*/

.main-header,
.wrapper,
.documentation,
.main-footer {
	padding: 3px 12%;
}

/*body*/

body {
	font-family: 'Source Sans Pro', sans-serif;
}
a {
	text-decoration: none;
}
h2 {
	text-align: center;
	text-transform: uppercase;
}

/*nav*/

header {
	overflow: auto;
}
header nav ul {
	text-align: right;
	float: right;
	overflow: auto;
}
header nav li {
	display: inline-block;
}
header nav a {
	display: block;
	text-transform: uppercase;
	padding: 1em;
	margin-top: 2em;
	color: #FFFFFF;
}
header img {
	margin: 2em -4.5em;
	float: left;
}

/*wrapper*/

.main-header,
.wrapper {
	background-color: #FF0000;
}
.main-header,
.wrapper,h1 h2 {
		color: #F8F8F8;
}
.wrapper h1 {
	text-transform: uppercase;
	text-align: center;
	margin: 4em 0 1.8em 0;
	font-size: 2em;
}
.wrapper p {
	text-align: center;
	font-size: 1.3em;
	color: #F8F8F8;
	line-height: 1.5em;
	font-weight: 400;
}
.wrapper h2 {
	margin: 3em 0 3.5em 0;
}
a.button {
	border: solid 2px #F8F8F8;
	padding: 0.8em 3%;
	border-radius: 0.5em;
	color: #F8F8F8;
	
}
.wrapper img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

/*documentation*/

.documentation h1 {
	font-size: 2em;
	margin: 2.5em 0 1em 0em;
	color: #303030;
}
.documentation p {
	text-align: left;
	font-size: 1.2em;
	margin: 0 2em 2em 0;
	line-height: 1.5em;
	color: #303030;
}
p.note {
	margin-bottom: 5em;
}
.note strong {
	font-weight: 600;
}
code {
	line-height: 2em;
}
pre.language-css {
	border: solid 2px #C0C0C0;
	border-radius: 0.5em;
}

/*footer*/

footer img {
	opacity: 0.40;
}
.main-footer {
	background-color: #303030;
	padding: 1em 2%;
	overflow: auto;
}
.main-footer p {
	text-align: right;
	color: #909090;
}
.main-footer a {
	color: #909090;
}
.main-footer a:hover {
	color: #FF0000;
}
.site {
	font-weight: 300;
}


/*responsive*/

@media (max-width: 700px){
	header img {
		margin: 1em 0;
	}
}
@media (max-width: 512px){
	.main-header {
		padding-top: 2em;
	}
	header img {
		float: none;
		display: block;
		margin: 0 auto 2em;
	}
	header nav ul {
		float: none;
		text-align: center;
	}
	header nav li {
		display: block;
	}
	header nav a {
		margin: 0;
	}
	.wrapper h1 {
		margin-top: 1.75em;
	}
}





